.navbar {
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fde500;
}

.navbar::after {
  position: fixed;
  background-color: #fde500;
}

.footer{
  background-color: #000000;
}

.active {
  opacity: 0.5;
}

.link:hover {
  opacity: 0.6;
}

.view_more1:hover, .view_more2:hover {
  filter: invert(15%);
}